streamlit>=1.38.0
tensorflow==2.15.0
ultralytics
opencv-python-headless
Pillow
numpy
pandas==2.0.2
matplotlib==3.8.0
scikit-learn==1.3.0
seaborn==0.13.0
datasets==2.19.0
torch==2.1.2
streamlit-webrtc







